:root {
  --color-principal: #483d8b;
}
.btn,
.btn:hover,
.btn:focus,
button.btn.btn-primary:active {
  background-color: var(--color-principal) !important;
  border-color: var(--color-principal);
}
.cabecera {
  margin-bottom: 10px;
}
.amigos {
  margin-top: 20px;
}
.amigo {
  background-color: var(--color-principal);
  border-radius: 15px;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.amigo .dato {
  margin-bottom: 10px;
}
.amigo .acciones {
  position: absolute;
  top: 5px;
  right: 10px;
}
.amigo .acciones svg {
  cursor: pointer;
}
.form-control {
  border-color: var(--color-principal);
}
